/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --items-set-gap: 30px;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --main-black-color: #000000;
  --hero-overlay: 47, 48, 58, 0.4;
  --border: #eeeeee;
  --border-modal-close-button: rgba(0, 0, 0, 0.1);
  --border-modal-inputs: 1px solid rgba(33, 33, 33, 0.2);
  --header-border: #ececec;
  --icons-color: #afb1b8;
  --background-hero-color: #c4c4c4;
  --background-light: #f5f4fa;
  --background-work-examples: rgba(47, 48, 58, 0.8);
  --background-work-list-item-overlay: rgba(33, 150, 243, 0.9);
  --background-modal-backdrop: rgba(0, 0, 0, 0.2);
  --works-card-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button-hover: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --placeholder-subscribe-color: rgba(255, 255, 255, 0.6);
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-letter-spacing: 0.03em;
  --main-font-weight: 400;
  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  letter-spacing: var(--main-letter-spacing);
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo, .main-footer__logo, .nav__link,
.contacts__link, .card, .contacts-block__address,
.contacts-block__mail,
.contacts-block__tel {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.social-list, .nav,
.contacts, .works-card-set, .filter {
  list-style: none;
}

.social-list__svg, .subscribe__icon {
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container, .main-footer__container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--main-animation), color 250ms var(--main-animation);
  color: var(--icons-color);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.license-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.license-block__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.license-block,
.license-block__link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: var(--main-letter-spacing);
}

.license-block__link {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
}

.license-block__link::after {
  content: '';
  position: absolute;
  width: 127px;
  height: 1px;
  bottom: -7px;
  left: 0;
  background-color: var(--accent-color);
}

.license-block__icon {
  border-radius: 3px;
  margin-right: 8px;
  transition: fill 250ms var(--main-animation), box-shadow 250ms var(--main-animation);
  box-shadow: inset 0px 0px 0px 2px var(--title-text-color);
  fill: transparent;
}

.license-block__checkbox:checked + .license-block__icon {
  box-shadow: inset 0px 0px 0px 2px transparent;
  fill: var(--accent-color);
}

.license-block__checkbox:focus-visible + .license-block__icon {
  outline: 2px solid black;
}

.logo, .main-footer__logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-black-color);
}

.nav__link,
.contacts__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--main-animation);
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

.nav__link {
  position: relative;
  color: var(--title-text-color);
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.logo__first-part,
.nav__link_current {
  color: var(--accent-color);
}

.nav__link_current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav,
.contacts {
  display: flex;
}

.nav > .nav__item_position:not(:first-child) {
  margin-left: 50px;
}

.contacts > .contacts__item_position:not(:first-child) {
  margin-left: 50px;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.works-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.works-card-set__item {
  flex-basis: calc(100% / 3 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.card {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms var(--main-animation);
}

.card:focus, .card:hover {
  box-shadow: var(--works-card-box-shadow);
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-letter-spacing);
  transform: translateY(101%);
  transition: transform 250ms var(--main-animation);
  color: var(--primary-white-color);
  background-color: var(--background-work-list-item-overlay);
}

.card:focus .card__overlay,
.card:hover .card__overlay {
  transform: translateY(0);
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
}

.card__img {
  display: block;
}

.card__meta {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: var(--border);
  border-bottom-color: var(--border);
  border-left-color: var(--border);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 250ms var(--main-animation), color 250ms var(--main-animation), box-shadow 250ms var(--main-animation);
  background-color: var(--background-light);
  color: var(--title-text-color);
}

.filter__button:focus, .filter__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filter__radio:checked + .filter__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filter__radio:focus + .filter__button {
  border: 1px solid black;
}

.main-footer {
  background-color: #2f303a;
}

.main-footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-block__address,
.contacts-block__mail,
.contacts-block__tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
}

.contacts-block__address {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
}

.contacts-block__mail {
  display: block;
  margin-bottom: 9px;
}

.contacts-block__mail,
.contacts-block__tel {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer__social {
  width: 206px;
}

.main-footer__subtitle {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.social-list__link_footer {
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
}

.subscribe__email {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--primary-white-color);
}

.subscribe__email::placeholder {
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--main-letter-spacing);
  color: var(--placeholder-subscribe-color);
}

.subscribe__submit-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--main-animation);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.subscribe__submit-btn:focus, .subscribe__submit-btn:hover {
  background-color: var(--hero-btn-accent-color);
}

.subscribe__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */