:root {
  --items-set-gap: 30px;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --main-black-color: #000000;
  --hero-overlay: 47, 48, 58, 0.4;
  --border: #eeeeee;
  --border-modal-close-button: rgba(0, 0, 0, 0.1);
  --border-modal-inputs: 1px solid rgba(33, 33, 33, 0.2);
  --header-border: #ececec;
  --icons-color: #afb1b8;
  --background-hero-color: #c4c4c4;
  --background-light: #f5f4fa;
  --background-work-examples: rgba(47, 48, 58, 0.8);
  --background-work-list-item-overlay: rgba(33, 150, 243, 0.9);
  --background-modal-backdrop: rgba(0, 0, 0, 0.2);
  --works-card-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button-hover: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --placeholder-subscribe-color: rgba(255, 255, 255, 0.6);

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-letter-spacing: 0.03em;
  --main-font-weight: 400;

  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  === Сброс стилей и глобальные стили === */
body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  letter-spacing: var(--main-letter-spacing);
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* === Header === */
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--main-black-color);
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link,
.contacts-link {
  display: block;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--main-animation);
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link > svg {
  margin-right: 10px;
  fill: currentColor;
}

.nav-link {
  position: relative;
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.logo span,
.nav-link.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav,
.contacts {
  display: flex;
}

.nav > .item:not(:first-child),
.contacts > .item:not(:first-child) {
  margin-left: 50px;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

/* === CSS for portfolio.html === */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter > .item:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color 250ms var(--main-animation),
    color 250ms var(--main-animation), box-shadow 250ms var(--main-animation);

  background-color: var(--background-light);
  color: var(--title-text-color);
}

.radio-input:checked + .filter-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.radio-input:focus + .filter-button {
  border: 1px solid black;
}

.filter-button:focus,
.filter-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.works-list-item {
  display: block;

  box-shadow: none;
  transition: box-shadow 250ms var(--main-animation);
}

.works-list-item:focus,
.works-list-item:hover {
  box-shadow: var(--works-card-box-shadow);
}

.works-list-item:focus .works-list-item-overlay,
.works-list-item:hover .works-list-item-overlay {
  transform: translateY(0);
}

.works-list-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-letter-spacing);

  transform: translateY(101%);
  transition: transform 250ms var(--main-animation);

  color: var(--primary-white-color);
  background-color: var(--background-work-list-item-overlay);
}

.works-list-item h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.descr p {
  font-size: 16px;
  line-height: 1.88;
}

.works-list > .item {
  flex-basis: calc(100% / 3 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.works-list-item > img {
  display: block;
}

.descr {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;

  border-right-color: var(--border);
  border-bottom-color: var(--border);
  border-left-color: var(--border);
}

.descr > h2 {
  margin-bottom: 4px;
}

/* === Footer === */

.main-footer {
  background-color: #2f303a;
}

.main-footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.addr,
.mail,
.tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
}

.addr {
  display: block;
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.mail {
  display: block;
  margin-bottom: 9px;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-center {
  width: 206px;
}

.footer-center > b,
.footer-right-side > b {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer-center .social-link {
  color: var(--primary-white-color);
  background: rgba(255, 255, 255, 0.1);
}

.subscribe-email {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--primary-white-color);
}

.subscribe-email::placeholder {
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--main-letter-spacing);

  color: var(--placeholder-subscribe-color);
}

.subscribe-submit-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--main-animation);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.subscribe-submit-btn:focus,
.subscribe-submit-btn:hover {
  background-color: var(--hero-btn-accent-color);
}

.subscribe-submit-btn > svg {
  margin-left: 10px;
  fill: currentColor;
}

/* === CSS for index.html === */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(rgba(var(--hero-overlay)), rgba(var(--hero-overlay))),
    url(../images/index/hero/hero.jpg);
}

.hero-content {
  padding: 200px 237px;
}

.hero-title {
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms var(--main-animation);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-btn-accent-color);
}

.advantages {
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.advantages-card-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--background-light);
}

.advantages-list-item {
  flex-basis: calc(100% / 4 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.advantages-list-item h3 {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  color: var(--title-text-color);
}

.advantages-list-item p {
  font-size: 14px;
  line-height: 1.71;
}

.work-examples {
  padding-top: 47px;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.work-examples > .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.work-examples-list-item {
  flex-basis: calc(100% / 3 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}

.work-examples-list-item h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--background-work-examples);
}

.team {
  text-align: center;

  background: var(--background-light);
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.team-list-card-content {
  padding: 30px 32px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;

  transition: background-color 250ms var(--main-animation),
    color 250ms var(--main-animation);

  color: var(--icons-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-link > svg {
  fill: currentColor;
}

.team-list-item {
  flex-basis: calc(100% / 4 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
  border-radius: 0px 0px 4px 4px;

  box-shadow: var(--team-card-box-shadow);
  background-color: var(--primary-white-color);
}

.team-list-item h3,
.team-list-item p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-item p {
  margin-bottom: 16px;
}

.team-list-item h3 {
  margin-bottom: 10px;

  font-weight: 500;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  width: 170px;
  height: 90px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms var(--main-animation), color 250ms var(--main-animation);

  color: var(--icons-color);
  border-color: var(--icons-color);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-link > svg {
  fill: currentColor;
}

/* === modal === */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: visible;

  transition: opacity 250ms var(--main-animation);

  background-color: var(--background-modal-backdrop);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;

  visibility: hidden;
  transition: opacity 250ms var(--main-animation), visibility 1ms linear 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 580px;
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms var(--main-animation);

  background-color: var(--primary-white-color);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms var(--main-animation);

  color: var(--main-black-color);
  border-color: var(--border-modal-close-button);
  background-color: var(--primary-white-color);
}

.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}

.button-close > svg {
  fill: currentColor;
}

.modal > p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-box {
  position: relative;
}

.form-input-block {
  margin-bottom: 10px;
}

.input-box-modal-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill 250ms var(--main-animation);

  fill: var(--title-text-color);
}

.modal-input:focus + .modal-svg,
.modal-input:focus + .input-box-modal-svg {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: var(--border-modal-inputs);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms var(--main-animation);
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input-block > textarea {
  width: 100%;
  height: 120px;
  border: var(--border-modal-inputs);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms var(--main-animation);
}

.form-input-block > textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.label-comment > textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--placeholder-modal-color);
}

.license-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.license-block,
.license-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: var(--main-letter-spacing);
}

.license-link {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
}

.license-link::after {
  content: '';
  position: absolute;
  width: 127px;
  height: 1px;
  bottom: -7px;
  left: 0;
  background-color: var(--accent-color);
}

.button-submit {
  display: block;
  padding: 10px 56px;
  margin: auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: var(--box-shadow-modal-submit-button);
  transition: color 250ms var(--main-animation), box-shadow 250ms var(--main-animation);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--hero-btn-accent-color);
  box-shadow: var(--box-shadow-modal-submit-button-hover);
}

.icon-checkbox {
  border-radius: 3px;
  margin-right: 8px;

  transition: fill 250ms var(--main-animation), box-shadow 250ms var(--main-animation);
  box-shadow: inset 0px 0px 0px 2px var(--title-text-color);

  fill: transparent;
}

.checkbox:checked + .icon-checkbox {
  box-shadow: inset 0px 0px 0px 2px transparent;
  fill: var(--accent-color);
}

.checkbox:focus-visible + .icon-checkbox {
  outline: 2px solid black;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
