.clients {
  @extend %section;
  @extend .container;
}

.clients__list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms var(--main-animation), color 250ms var(--main-animation);

  color: var(--icons-color);
  border-color: var(--icons-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__svg {
  @extend %svg;
}
