.header {
  border-bottom: 1px solid var(--header-border);
}

.nav__link,
.contacts__link {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--main-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link {
  position: relative;
  color: var(--title-text-color);
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

.logo__first-part {
  color: var(--accent-color);
}

.nav__link_current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: -1px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav,
.contacts {
  @extend %list;
  display: flex;
}

.nav__item_position,
.contacts__item_position {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
