.logo {
  @extend %link;
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--main-black-color);
}

.nav__link,
.contacts__link {
  @extend %link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--main-animation);
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__svg {
  margin-right: 10px;
  fill: currentColor;
}

.nav__link {
  @extend %link;
  position: relative;
  color: var(--title-text-color);
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.logo__first-part,
.nav__link_current {
  color: var(--accent-color);
}

.nav__link_current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.nav,
.contacts {
  @extend %list;
  display: flex;
}

@each $item in nav, contacts {
  .#{$item} > .#{$item}__item_position:not(:first-child) {
    margin-left: 50px;
  }
}

.header {
  border-bottom: 1px solid var(--header-border);
}
