.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(RGBA(var(--hero-overlay)), RGBA(var(--hero-overlay))),
    url(../images/index/hero/hero.jpg);
}

.hero__container {
  padding: 200px 237px;
}

.hero__title {
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero__button {
  @extend %button;
  padding: 10px 32px;
}
