.main-section {
  @extend %section;
}

.works-card-set {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.works-card-set__item {
  flex-basis: calc(100% / 3 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.card {
  @extend %link;
  display: block;

  box-shadow: none;
  transition: box-shadow 250ms var(--main-animation);

  &:focus,
  &:hover {
    box-shadow: var(--works-card-box-shadow);
  }
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-letter-spacing);

  transform: translateY(101%);
  transition: transform 250ms var(--main-animation);

  color: var(--primary-white-color);
  background-color: var(--background-work-list-item-overlay);

  .card:focus &,
  .card:hover & {
    transform: translateY(0);
  }
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--title-text-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
}

.card__img {
  display: block;
}

.card__meta {
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;

  border-right-color: var(--border);
  border-bottom-color: var(--border);
  border-left-color: var(--border);
}
