.team {
  @extend %section;
  text-align: center;

  background: var(--background-light);
}

.team__title {
  @extend .title;
  margin-bottom: 50px;
}

.team__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--items-set-gap));
  margin-top: calc(-1 * var(--items-set-gap));
}

.team__item {
  flex-basis: calc(100% / 4 - var(--items-set-gap));
  margin-left: var(--items-set-gap);
  margin-top: var(--items-set-gap);
}

.person-card {
  border-radius: 0px 0px 4px 4px;

  box-shadow: var(--team-card-box-shadow);
  background-color: var(--primary-white-color);
}

.person-card__content {
  padding: 30px 32px;
}

.person-card__title,
.person-card__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.person-card__position {
  margin-bottom: 16px;
}

.person-card__title {
  margin-bottom: 10px;

  font-weight: 500;

  color: var(--title-text-color);
}
