.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: visible;

  transition: opacity 250ms var(--main-animation);

  background-color: var(--background-modal-backdrop);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;

  visibility: hidden;
  transition: opacity 250ms var(--main-animation), visibility 1ms linear 250ms;
}
