.logo {
  @extend %link;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);

  &--header {
    margin-right: 93px;
  }

  &--footer {
    display: block;
    margin-bottom: 20px;
  }
}

.logo__header {
  color: var(--main-black-color);
}

.logo__footer {
  color: var(--primary-white-color);
}
