:root {
  --items-set-gap: 30px;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-btn-accent-color: #188ce8;
  --main-black-color: #000000;
  --hero-overlay: 47, 48, 58, 0.4;
  --border: #eeeeee;
  --border-modal-close-button: rgba(0, 0, 0, 0.1);
  --border-modal-inputs: 1px solid rgba(33, 33, 33, 0.2);
  --header-border: #ececec;
  --icons-color: #afb1b8;
  --background-hero-color: #c4c4c4;
  --background-light: #f5f4fa;
  --background-work-examples: rgba(47, 48, 58, 0.8);
  --background-work-list-item-overlay: rgba(33, 150, 243, 0.9);
  --background-modal-backdrop: rgba(0, 0, 0, 0.2);
  --works-card-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-modal-submit-button-hover: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-modal-color: rgba(117, 117, 117, 0.5);
  --placeholder-subscribe-color: rgba(255, 255, 255, 0.6);

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-letter-spacing: 0.03em;
  --main-font-weight: 400;

  --main-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
